<div class="publications">
    <h2 class="section_title">Publications</h2>
    <div class="notes"> <code>*: Equal contribution</code></div>
   
    {% assign highlight_publications = site.publications | where: "sticky", "true" | sort: "abbr" | reverse %}
    {% if highlight_publications != empty %}
    <div class="bibliography">
    <h4>Latest</h4>
    <ol class="bibliography">
    {% for item in highlight_publications %}
    <li>{{item}}</li>
    {% endfor %}
    </ol>
    </div>
    {% endif %}
    {% assign years = site.publications | group_by: "year" %}
    {% assign yearsSorted = years | sort: "name" %}
    {% for y in yearsSorted reversed %}
    {% assign yearConfSorted = y.items | sort: "abbr" | reverse %}
    {% if yearConfSorted != empty %}
    <div class="bibliography">
        <h4>{{y.name}}</h4>
        <ol class="bibliography">
        {% for item in yearConfSorted %}
        {% if item.sticky != true %}
            <li>{{item}}</li>
        {% endif %}
        {% endfor %}
        </ol>
    </div>
    {% endif %}
    {% endfor %}
</div>
  