<div class="publications">
  <div class="alert alert-primary"><a href="{{ 'publication' | relative_url }}">SEE ALL PUBLICATIONS <i
        class="fas fa-angle-right" aria-hidden="true"></i></a></div>
  <div class="notes"> <code style="font-size: 18px;">*</code><code>: Equal contribution</code>, <code
      style="font-size: 20px;">&#x2709;</code><code>: Corresponding author</code></div>

  {% assign selected_publications = site.publications | where: "selected", "true" | group_by: "year" | sort: "name" %}
  <div class="bibliography">
    <ol class="bibliography">
      {% for y in selected_publications reversed %}
      {% assign yearConfSorted = y.items | sort: "abbr" | reverse %}
      {% if yearConfSorted != empty %}
      {% for item in yearConfSorted %}
      <li>{{item}}</li>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ol>
  </div>

</div>