@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

@font-face {
	font-family: 'poller_oneregular';
	src: url('../fonts/pollerone/pollerone-webfont.eot');
	src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pollerone/pollerone-webfont.woff') format('woff'),
		 url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'),
		 url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}
@font-face {
	font-family: 'leckerli_oneregular';
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
	src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'),
		 url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

body {
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
p a {
	color: #252525;
	text-decoration: underline;
}
p a:hover {
	color: #898989;
}
#header {
	margin: 0 auto;
	padding: 44px 0 50px;
	text-align: center;
	width: 960px;
}
#header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 340px;
}
#header a.logo img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#header ul {
	margin: 0;
	padding: 56px 0 0;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a {
	color: #0ba39c;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul li a:hover, #header ul li.selected a {
	color: #acf2ef;
}
#body {
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}
#body h1 {
	color: #fff;
	display: inline;
	font-family: poller_oneregular;
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#header #title{
	color: #fff;
	font-family: "Rock Salt";
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

#body h1 span {
	background: #252525;
	display: inline-block;
	padding: 15px 28px 12px;
}

#body #featured {
	margin: 0;
	position: relative;
	width: 100%;
}

#body #featured img {
	border: 0;
	opacity: 0.3;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
#body #featured div .screen-typed{
	background: #000;
	top: 100px;
	left: 15%;
	padding: 0 0 0 20px;
	position: absolute;
	text-align: left;
	width: 70%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#body #featured div .screen-typed ul {
	margin: 0;
	list-style: none;
	padding: 10px;
	background: #141414;
	color: #45D40C;
	top: 0px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#body #featured div .screen-typed ul li{
	list-style: none;
	overflow: hidden;
	padding: 5px 0 5px 0;
}

#body #featured .biography {
	top: 50px;
	left: 10%;
	padding: 0 0 0 20px;
	position: absolute;
	text-align: left;
	width: 80%;
}

#body #featured .projects {
	top: 50px;
	left: 10%;
	padding: 0 0 0 20px;
	position: absolute;
	text-align: left;
	width: 80%;
}

#body #featured h2 {
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 24px;
	padding: 20px 0 10px 0;
}
#body #featured span {
	color: white;
	font-size: 20px;
	font-family: "Share Tech Mono";
}
#body #featured .date {
	text-align: right;
	float: right;
}

#body #featured ul{
	background: transparent;
	font-family: "Share Tech Mono";
	font-size: 16px;
	color: white;
	padding: 5px 0 5px 20px;
}


#body #featured ul li {
	display: block;
	list-style: none;
	padding: 0;
}

#body #featured p {
	font-family: "Share Tech Mono";
	font-size: 20px;
	color: white;
	padding: 0;
}

#body #featured div .screen-typed .shell-top-bar {
	text-align: center;
	color: #525252;
	padding: 5px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	border: 1px solid #CCCCCC;
	border-bottom: none;

	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

#body #featured div h2 {

}
#body #featured .screen-typed span {
	color: green;
	font-family: "Andale Mono", AndaleMono, monospace;
	font-size: 30px;
	line-height: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
#body #featured .screen-typed a {
	color: green;
	text-align: center;
	text-decoration: underline;
	text-transform: none;
}
.cursor {
	display: none;
}
#body #featured .screen-fallback {
	display: none;
}



#body #featured div a:hover {
	color: #fff;
}

#body form {
	margin: 0 auto;
	padding: 24px 0 0;
	/*width: 620px;*/
}

#body form input, #body form textarea {
	/*border: 2px solid #252525;*/
	border: 0px;
	background: #000;
	color: #fff;
	/*font-family: Arial, Helvetica, sans-serif;*/
	text-decoration: underline;
	font-size: 24px;
	font-weight: normal;
	/*margin: 0 0 37px;*/
	padding: 0px 0px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-decoration: underline;
}
#body form textarea {
	height: 50px;
	overflow: auto;
	resize: none;
}
#body form #send {
	background: #252525;
	color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	padding: 20px 28px;
	width: auto;
}
#body form #send:hover {
	background: #fff;
	color: #252525;
	cursor: pointer;
}
#footer {
	background: #252525;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 1080px;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer div ul span{
	color: #fff;
	line-height: 30px;
	font-size: 15px;
	padding: 0px 0 0px 70px;
	font-family: "poller_oneregular";
}

#footer div ul {
	display: block;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 360px;
}
#footer div ul li {
	display: block;
	float: right;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 32px;
}
#footer div ul li a {
	display: block;
	height: 32px;
	width: 32px;
	margin: 0;
	padding: 0;
}
#footer div ul li #twitter {
	background: url(../images/icons/twitter32.png);
	background-position: 0 0;
}
#footer div ul li #twitter:hover {
	background: url(../images/icons/twitter32-hover.png);
	background-position: 0 0;
}
#footer div ul li #facebook {
	background: url(../images/icons/facebook32.png);
	background-position: 0px 0px;
}
#footer div ul li #facebook:hover {
	background: url(../images/icons/facebook32-hover.png);
	background-position: 0px 0px;
}
#footer div ul li #linkedin {
	background: url(../images/icons/linkedin32.png);
	background-position: 0 0px;
}
#footer div ul li #linkedin:hover {
	background: url(../images/icons/linkedin32-hover.png);
	background-position: 0px 0px;
}
#footer div ul li #github {
	background: url(../images/icons/github32.png);
	background-position: 0 0px;
}
#footer div ul li #github:hover {
	background: url(../images/icons/github32-hover.png);
	background-position: 0px 0px;
}